<footer class="footer">
  <div class="footer-container">
    <!-- Верхня частина футера -->
    <div class="footer-top">
      <!-- Лого та слоган -->
      <div class="footer-brand">
        <!-- Лого з іконкою зі спрайту -->
        <a
          class="footer-logo"
          href="https://ivankasich.github.io/project-team4/"
        >
          <svg class="icon-foot" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <p class="footer-slogan">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <!-- Навігація (якірні посилання) -->
      <div class="footer-nav">
        <ul class="footer-links">
          <li>
            <a class="footer-link-nav" href="#how-it-works">How it works</a>
          </li>
          <li><a class="footer-link-nav" href="#vegetables">Vegetables</a></li>
          <li><a class="footer-link-nav" href="#reviews">Reviews</a></li>
        </ul>
        <!-- Контакти -->
        <address class="footer-contacts">
          <!-- Телефон із протоколом tel: -->
          <a class="footer-phone" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
          <!-- Адресу можна також оформити через <address>, якщо бажаєте -->
          <a
            class="footer-address"
            target="_blank"
            href="https://maps.app.goo.gl/foiQ9gnP6QMREtSj7"
          >
            1678 S. Pioneer Road<br />
            Salt Lake City, UT 84104
          </a>
        </address>
      </div>
    </div>
    <!-- Нижня частина футера -->
    <ul class="footer-bottom">
      <!-- Перший пункт (посилання) -->
      <li class="footer-privacy-item">
        <a href="#">Privacy Policy</a>
        <span class="footer-slash">/</span>
        <a href="#">Cookie settings</a>
      </li>
      <!-- Другий пункт (копірайт) -->
      <li class="footer-privacy-item">&copy; Green Harvest 2023</li>
    </ul>
  </div>
</footer>
