git
    <header>
        <div class="container">
          <div class="logo-container">
            <img src="../img/header/cub-opt.svg" alt="Logo Icon" class="logo-icon">
            <div class="logo">GREEN.HARVEST</div>
          </div>
          <button class="menu-toggle">
            <img src="../img/header/heroicons-opt.svg" alt="">
          </button> 
          <div class="nav-container">
            <nav class="header-nav">
                <ul class="header-menu-list">
                    <li class="header-menu-item"><button class="nav-button ">How It Works</button></li>
                    <li class="header-menu-item"><button class="nav-button ">Vegetables</button></li>
                    <li class="header-menu-item"><button class="nav-button ">Reviews</button></li>
                </ul>
            </nav>
            <button class="shop-now">SHOP NOW</button>
          </div>
        </div>
      </header>
</body>
</html>
