
    <header>
        <div class="container">
          <div class="logo-container">
            <svg class="logo-icon">
                <use href="../img/header/symbol-defs.svg#icon-cub"></use>
              </svg>
            <div class="logo">GREEN.HARVEST</div>
          </div>
          <button class="menu-toggle">
            <svg class="logo-icon">
                <use href="../img/header/symbol-defs.svg#icon-heroicons-outline_menu-alt-1"></use>
              </svg>
          </button> 
          <div class="nav-container">
            <nav class="header-nav">
                <ul class="header-menu-list">
                    <li class="header-menu-item"><button class="nav-button ">How It Works</button></li>
                    <li class="header-menu-item"><button class="nav-button ">Vegetables</button></li>
                    <li class="header-menu-item"><button class="nav-button ">Reviews</button></li>
                </ul>
            </nav>
            <button class="shop-now">SHOP NOW</button>
          </div>
        </div>
      </header>
</body>
</html>
