<header>
  <div class="container">
    <div class="logo-container">
      <a class="logo-icon" href="https://ivankasich.github.io/project-team4/">
        <svg class="logo-vector" width="168" height="16">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="logo"></div>
    </div>
    <button class="menu-toggle" data-modal-open>
      <svg class="logo-icon-two" width="32" height="32">
        <use href="/img/sprite.svg#icon-1"></use>
      </svg>
    </button>
    <div class="nav-container">
      <nav class="header-nav">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#how-it-works" class="nav-button">How It Works</a>
          </li>
          <li class="header-menu-item">
            <a href="#vegetables" class="nav-button">Vegetables</a>
          </li>
          <li class="header-menu-item">
            <a href="#reviews" class="nav-button">Reviews</a>
          </li>
        </ul>
      </nav>
      <a href="#order-shop" class="shop-now">SHOP NOW</a>
    </div>
  </div>
</header>
