<div class="modal" data-modal>
  <div class="modal-content">
    <button type="button" class="btn-x" data-modal-close>
      <svg class="svg-x" width="32" height="32">
        <use href="./img/modal/symbol-defs.svg#icon-Property-1x"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <div class="deco"></div>
      <ul class="list-one">
        <li class="last-li">
          <a class="last-link" href="#how-it-works"> How it works </a>
        </li>

        <li class="last-li">
          <a class="last-link" href="#vegetables"> Vegetables </a>
        </li>

        <li class="last-li">
          <a class="last-link" href="#reviews"> Reviews </a>
        </li>
      </ul>
      <div class="last-container">
        <a class="last-link last-w" href="#order-shop"> SHOP NOW </a>
      </div>
    </nav>
  </div>
</div>
