


<div class="modal is-open">
    <div class="modal-content">
        <button type="button" class="btn-x">
            <svg class="svg-x" width="40" height="40">
            <use href="./img/modal/symbol-defs.svg#icon-Property-1x"></use>
            </svg>
        </button>
    <nav class="mobile-nav">
        <ul class="list-one">
            <li class="last-li">
                    <a class="last-link current" href="#how-it-works">
                        How it works
                    </a>
            </li>

            <li class="last-li">
                    <a class="last-link" href="#vegetables">
                        Vegetables
                    </a>
            </li>

            <li class="last-li">
                    <a class="last-link" href="#reviews">
                        Reviews
                    </a>
            </li>
        </ul>
    </nav>
    <div class="last-container">
        <a class="last-link last-w" href="#shop-now">           
            SHOP NOW
        </a>
    </div>
    </div>

</div>




