


<div class="modal is-open">
    <button type="button" class="btn-x">
        <svg class="svg-x" width="40" height="40">
        <use href="./img/modal/symbol-defs.svg#icon-Property-1x"></use>
        </svg>
    </button>
    <div class="modal-content">
    <nav class="mobile-nav">
        <ul class="list-one">
            <li class="last-li">
                    <a class="last-link" href="#how-it-works">
                        <button class="last-btn current" type="button">How it works</button>
                    </a>
            </li>

            <li class="last-li">
                    <a class="last-link" href="#vegetables">
                        <button class="last-btn" type="button">Vegetables</button>
                    </a>
            </li>

            <li class="last-li">
                    <a class="last-link" href="#reviews">
                        <button class="last-btn" type="button">Reviews</button>
                    </a>
            </li>
        </ul>
    </nav>
    </div>
        <div class="last-container">
            <a class="last-link" href="#shop-now">           
                <button class="last-btn-one" type="button">SHOP NOW</button>
            </a>
        </div>
</div>




