        <section id="vegetables" class="vegetables-section">
            <div class="container">
                <div class="vegetables-title-div">
                    <h2 class="vegetables-h-two font-h-two">Organic <span class="vegetables-span-h-two font-h-two">Vegetables</span></h2>
                    <p class="vegetables-p font-p">
                        Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, 
                        ensuring that you get the freshest and most nutritious produce possible.
                    </p> 
                </div>
                <ul class="vegetables-list">
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Eggplant</h3>
                        <p class="vegetables-items-p font-p">60 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/eggplant@2x.webp 2x, ./images/eggplant.webp 1x" src="./images/eggplant.webp" alt="Eggplant">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        The vegetable is rich in fiber. Eggplant contains polyphenols, 
                                        including chlorogenic acid. It is useful for the human cardiovascular system, 
                                        prevents the development of diabetes, cancer and tuberculosis. 
                                        The bitter taste of the fruit is associated with the presence of solanine, 
                                        the content of which increases as the eggplant ripens.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Leek</h3>
                        <p class="vegetables-items-p font-p">50 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/leek@2x.webp 2x, ./images/leek.webp 1x" src="./images/leek.webp" alt="Leek">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        Good for your gut: Leeks are a prebiotic, which feeds the good bacteria 
                                        in your gut and improves digestive health. Improves cognitive function: 
                                        Carotenoids such as lutein and zeaxanthin in leeks may slow age-related cognitive decline.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Mushrooms</h3>
                        <p class="vegetables-items-p font-p">40 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/mushrooms@2x.webp 2x, ./images/mushrooms.webp 1x" src="./images/mushrooms.webp" alt="Mushrooms">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        The mushroom contains more than one vitamin and minerals. 
                                        Due to its vitamin B content, it has a beneficial effect on the nervous system, 
                                        protein, and immunity. Due to the iron it contains, it also prevents anemia. 
                                        Due to its calcium content, it is useful for protecting bones.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Corn</h3>
                        <p class="vegetables-items-p font-p">60 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/corn@2x.webp 2x, ./images/corn.webp 1x" src="./images/corn.webp" alt="Corn">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        Corn grains are rich in vitamins PP, E, D, K, B (B1, B2), as well as ascorbic acid. 
                                        It contains valuable minerals such as calcium, potassium, phosphorus, magnesium, iron. 
                                        And corn protein contains essential amino acids tryptophan and lysine.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Sweet potatoes</h3>
                        <p class="vegetables-items-p font-p">50 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/batat@2x.webp 2x, ./images/batat.webp 1x" src="./images/batat.webp" alt="Sweet Potatoes">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        Due to the high content of fiber and other substances, sugar is absorbed slowly. 
                                        There are no sharp jumps in insulin. Sweet potatoes are believed to strengthen 
                                        the immune system. Since this root vegetable contains a lot of carotenoids, fiber, 
                                        vitamins B and C, it reduces harmful cholesterol.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                    <li class="vegetables-items">
                        <h3 class="vegetables-h-three font-h-three">Carrot</h3>
                        <p class="vegetables-items-p font-p">40 USD / kg</p>
                        <div class="vegetables-img">
                            <div class="vegetables-img-inner">
                                <div class="vegetables-img-front">
                                    <img srcset="./images/carrot@2x.webp 2x, ./images/carrot.webp 1x" src="./images/carrot.webp" alt="Carrot">
                                </div>
                                <div class="vegetables-img-back">
                                    <p class="font-p">
                                        Carrots are famous for their high content of carotene - vitamin A, 
                                        which is absorbed in the body only with fats - i.e. when you season carrots 
                                        with oil or eat them with fatty foods, C, groups B, E, D, K, PP, as well 
                                        as minerals and microelements potassium, calcium, iron, phosphorus, iodine, magnesium and manganese.
                                    </p>
                                </div>
                            </div>    
                        </div>    
                    </li>
                </ul>
            </div>    
        </section> 
