.advertisement {
  padding: 80px 0;
  height: 472px;
}

.advert-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;

  line-height: 1.08;

  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  max-width: 100%;
}

.advert-span {
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
    height: 488px;
  }

  .advert-text {
    font-size: 64px;
    line-height: 1;

    /*padding-bottom: 12px;*/
  }

  /*.advert-span {
        padding-top: 20px;
    }*/
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 0;
    height: 428px;
  }

  .container {
    padding: 0 110px 0 116px;
  }
  .advert-text {
    font-size: 76px;

    padding-left: 16px;
    width: 1054px;
    /*padding-right: 10px;*/
  }

  .advert-span {
    /*padding-top: 0;*/
    padding-left: 16px;
    margin-left: -16px;
  }
}
