body {
  font-family: 'Inter Tight', Tahoma, sans-serif;
  color: #141414;
  scroll-behavior: smooth;
}
.section {
  padding: 80px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
