header {
  background-color: rgba(87, 111, 53, 0.4);
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header > .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-icon {
  display: block;
}
.logo-vector {
  /* width: 168px;
  height: 16px; */
  fill: white;
}

.logo-icon-two {
  width: 32px;
  height: 32px;
  fill: white;
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-container {
  display: none;
}

.header-menu-list {
  display: none;
}

.nav-button {
  display: block;
  padding: 12px;
  background-color: transparent;
  color: #fbfbfb;
  border: 1px solid white;

  cursor: pointer;
  border-radius: 12px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-now {
  display: none;
}

.menu-toggle {
  display: block;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  /* Планшетна версія */
  header {
    padding-top: 32px;
  }
  .logo-icon-two {
    width: 40px;
    height: 40px;
  }

  .logo-container {
    width: 216px;
    height: 20px;
  }

  .logo-vector {
    width: 216px;
    height: 20px;
  }

  .logo-icon {
    width: 216px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  /* Комп'ютерна версія */
  header > .container {
    max-width: 1280px;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }

  .header-menu-list {
    display: flex;
    gap: 8px;
  }

  .shop-now {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    background-color: #7a3145;
    color: white;
    width: 157px;
    height: 52px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Inter Tight', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.015em;
    margin-left: 20px;
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-toggle {
    display: none;
  }
}
