
/* 
@media screen and (max-width: 768px) { */
    

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: -351px;
    top: 0;
    width: 351px;
    height: 1020px;
    background-color: #576f35;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: right 0.5s ease;
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.btn-x {
    position: absolute;
    top: 32px;
    right: 32px;
    left: 279px;

} 

.last-btn {
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;
    width: 114px;
    height: 44px;
}

.last-btn:hover {
    border: 1px solid #fbfbfb;
}


.modal-content {
    width: 123px;
    height: 180px;
    margin-top: auto;
    margin-bottom: auto;
}



