.reviews {
  padding: 80px 0;
}
.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  text-align: left;
  margin-bottom: 20px;
}

.reviews-title-part {
  color: #576f35;
}
.reviews-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 40px;
}
.reviews-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reviews-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
  max-height: 228px;
  background: #fbfbfb;
  display: none;
}

.reviews-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-images {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-bottom: 24px;
}
.reviews-subtitle {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-subtitle-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
  padding: 0 6px;
}

@media only screen and (max-width: 350px) {
  .reviews-title {
    letter-spacing: -0.02em;
  }
}
/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .reviews {
    padding: 100px 0;
  }
  .reviews-title {
    font-size: 64px;
    line-height: 1;
    text-align: left;
    margin-bottom: 24px;
    max-width: 553px;
  }
  .reviews-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
    max-width: 553px;
  }
  .reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews-item {
    padding: 20px;
    max-width: 340px;
    max-height: 248px;
    background: #fbfbfb;
  }

  .reviews-item:nth-child(1),
  .reviews-item:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .reviews-subtitle-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* Styles for Desktop devices */

@media only screen and (min-width: 1280px) {
  .reviews-text {
    margin-bottom: 52px;
  }
  .reviews-list {
    justify-content: space-between;
  }
  .reviews-item {
    max-width: 344px;
    max-height: 248px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
