:root {
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: #141414;
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}
.font-h-two {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
}
.font-h-three {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
}
.font-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .font-h-two {
    font-weight: 600;
    font-size: 44px;
    line-height: 1.08;
    letter-spacing: -0.015em;
  }
}

@media only screen and (min-width: 768px) {
  .font-h-two {
    font-size: 64px;
    line-height: 1;
  }
  .font-h-three {
    font-size: 32px;
  }
  .font-p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.vegetables-section {
  background-color: var(--chianti);
}
.vegetables-h-two {
  text-align: left;
  margin-bottom: 20px;
  color: var(--white);
  text-transform: uppercase;
}
.vegetables-span-h-two {
  text-align: left;
  color: var(--blush);
  text-transform: uppercase;
}
.vegetables-p {
  margin-bottom: 40px;
  color: var(--white);
}
.vegetables-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vegetables-items {
  width: 100%;
  padding: 32px 24px;
  border-radius: 40px;
  background-color: var(--white);
}
.vegetables-h-three {
  margin-bottom: 12px;
  text-align: left;
  color: var(--chianti);
  text-transform: uppercase;
}
.vegetables-items-p {
  margin-bottom: 12px;
  text-align: left;
  color: var(--black);
}

.vegetables-img {
  background-color: transparent;
  width: 100%;
  height: 240px;
  border-radius: 40px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.vegetables-img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.vegetables-items:hover .vegetables-img-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.vegetables-img-front,
.vegetables-img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
}

/* Style the back side */
.vegetables-img-back {
  background-color: var(--green);
  padding: 10px;
  color: var(--white);
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .vegetables-h-two {
    margin-bottom: 24px;
  }
  .vegetables-p {
    margin-bottom: 40px;
  }
  .vegetables-items {
    padding: 32px calc((100% - 280px) / 2);
  }
  .vegetables-h-three {
    padding-left: 10px;
  }
  .vegetables-items-p {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .vegetables-title-div {
    width: 626px;
  }
  .vegetables-h-two {
    margin-bottom: 24px;
  }
  .vegetables-p {
    margin-bottom: 52px;
  }
  .vegetables-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 28px;
  }
  .vegetables-items {
    width: calc((100% - 24px) / 2);
    padding: 32px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .vegetables-items {
    width: calc((100% - 48px) / 3);
    padding: 32px;
  }
  .vegetables-items-p {
    margin-bottom: 8px;
  }
}
